
.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  background: #cdcfd0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.conteudo {
  width: 70vw;
  height: auto;
  min-height: 90vh;
  background: #ffffff;
  color: #666666;
  margin-top: 65px;
  padding: 15px;
}
.logo-empresa {
  width: 13vw;
}
.botoes-central {
  width: 37vw;
  display: flex;
}
.botoes-lateral {
  width: 50vw;
  justify-content: flex-end;
  display: flex;
}
.btn-acao {
  display: flex;
  line-height: 2;
  background: #673ab7;
  color: #ffffff;
  border: 0;
  padding-left: 15px;
  cursor: pointer;
}
