.linha {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.coluna {
  padding: 0px 10px;
  width: 50%;
}
.acoes {
  display: flex;
  padding: 10px 0px;
  justify-content: flex-end;

  button {
    margin: 0px 5px;
  }
}
